blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
fonttools
fsspec
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pillow
polars
polars-runtime-32
psutil
pyparsing
python-dateutil
PyYAML
requests
scipy
setuptools
six
sympy
torch
torchaudio
torchvision
typing_extensions
ultralytics
ultralytics-thop
urllib3
Werkzeug
